  <script src="https://js.stripe.com/v3/"></script>
<div class="contenaire">

 <div class="partie_banner">
  <div class="partie", id="banner"></div>
  <div class="partie_h4">
    <h4>LA BOUTIQUE DE<BR>L'ESVL,<BR>C'EST PAR ICI...</h4>
  </div>
 </div>
  <h1 class="titre_partie", id="boutique-titre">Boutique du club</h1>
  <div class="index-boutique" data-controller="displaypanier"  >
    <button class="button-affiche-panier"  data-action="click->displaypanier#voirpanier">Voir mon panier<i class="fa-solid fa-cart-shopping"></i></button>
    <div class="articles_boutique">
      <% @articles.select { |a| a.event_id == nil}.each do |article|%>
      <%# <% @articles.each do |article|%>
        <%= render "shared/article", article: article%>
      <%end%>

    </div>

    <div class="index_panier">
      <%= render "shared/panier", panier: @panier %>
    </div>
  </div>

</div>

<%# <h2>Mon panier</h2> %>
      <%# <% @panier.each do |article| %>
        <%# <p><%=article.titre <%= article.genre <%= article.price /// <%=article.stripe_product_id%>
           <%# ///   <%= article.stripe_price_id</p> %>
        <%# <%if @panier.include?(article) %>
          <%# <%= button_to "Supprimer", remove_from_panier_path(article), methode: :delete %>
        <%# <%end%>
      <%# <%end%>
      <%# <%if @panier.present?%>
        <%# <%=button_to "Acheter", commandes_path, remote: true, data: { turbo:false } %>
        <%# data: { disable_with: "validating..."} %>
        <%# <%=@panier.collect { |item| item.to_builder.attributes! }%>
      <%# <%end%>
