<div id="partenaires">
  <h1 class=titre_partie>PARTENAIRES</h1>
  <h3>ILS SOUTIENNENT LE CLUB MERCI A EUX</h3>
  <%# <div class="logos_partenaires">
    <i class="fa-sharp fa-solid fa-chevron-left"></i>
    <%@partenaires_year.each_slice(3) do |slide|%>
      <%# <div class="slide">
        <%slide.each do |partenaire|%>
          <%# <%= cl_image_tag partenaire.photo.key, height: 150, width: 150, crop: :fill %>
        <%# <% end %>
      <%# </div> %>
    <%# <% end %>

    <%# <i class="fa-sharp fa-solid fa-chevron-right"></i>
  </div>  %>






    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% if partenaires.length > 3  %>
          <div class="carousel-item active slide">
            <%# <img src="..." class="d-block w-100" alt="..."> %>
            <% partenaires.slice(0..2).each do |logo|%>
              <%= cl_image_tag logo.photo.key, height: 150, width: 150, crop: :fill, class: "image_partenaire" %>
            <% end %>
          </div>
          <%partenaires.slice(3...).each_slice(3) do |slide| %>
            <div class="carousel-item slide">
              <%# <img src="..." class="d-block w-100" alt="..."> %>
              <%slide.each do |partenaire| %>
                <%= cl_image_tag partenaire.photo.key, height: 150, width: 150, crop: :fill, class: "image_partenaire" %>
              <% end %>
            </div>
          <%end%>
        <% else %>
          <div class="carousel-item active slide">
            <%# <img src="..." class="d-block w-100" alt="..."> %>
            <% partenaires.each do |logo|%>
              <%= cl_image_tag logo.photo.key, height: 150, width: 150, crop: :fill, class: "image_partenaire" %>
            <% end %>
          </div>
          <%# <%@partenaires_year.slice(3...).each_slice(3) do |slide| %>
            <%# <div class="carousel-item slide"> %>
              <%# <img src="..." class="d-block w-100" alt="..."> %>
              <%# <%slide.each do |partenaire| %>
                <%# <%= cl_image_tag partenaire.photo.key, height: 150, width: 150, crop: :fill, class: "image_partenaire" %>
              <%# <% end %>
            <%# </div>  %>
          <%# <%end%>
        <% end %>
      </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon prev" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon next" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

  <%# <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> %>
</div>
