<div class="container py-5" style="margin-top: 40px">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Crée ton événement</h3>

        <%= simple_form_for @event  do |e| %>
          <%= e.input :nom, placeholder: 'Titre du tournoi' %>
          <%= e.input :nb_equipes, placeholder: "Nombre d'équipe" %>
          <%= e.input :date_event, placeholder: "Jour de l'événement" %>
          <%= e.input :deadline_register, placeholder: 'Cloture des inscriptions' %>
          <%= e.input :genre, placeholder: 'Genre' %>
          <%= e.input :autre, placeholder: 'Informations complémentaires' %>
          <%= e.input :nb_joueur_equipe, placeholder: 'Nombre de joueur par équipe' %>
          <%= e.input :price_cents, placeholder: "Prix de l'inscription" %>
          <%# <%= e.input :photos, as: :file, input_html: { multiple: true } %>
          <%= e.submit class: 'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
