 <div class="contenaire">
 <div class="partie_banner">
  <div class="partie", id="banner"></div>
  <div class="partie_h4">
    <h4>BIENVENUE SUR LE SITE<BR>DE L'ETOILE SPORTIVE<BR>VILLENEUVE LOUBET</h4>
  </div>
 </div>
    <%=render "shared/barre"%>
  <div class="events">
    <%=render "shared/next_events"%>
  </div>

  <div id="news">
    <h1 class=titre_partie>NEWS</h1>
    <div class="publications">
      <div class="last_post"></div>
      <div class="old_posts">
        <div class="6last_post"></div>
        <%= link_to "Voir la page Instagram", class: "button"%>
      </div>
    </div>
  </div>


  <div id="boutique">
    <h1 class=titre_partie>BOUTIQUE</h1>
    <div class="articles_boutique" id="home_articles">
      <% Article.select { |a| a.display == true}.each do |article|%>
        <%= render "shared/article", article: article%>
      <%end%>


    </div>
    <%= link_to "Voir la boutique", articles_path, class: "button", id:"big_button"%>
  </div>

  <%if  @partenaires_year.present?%>
  <div class="partenaires">
    <%=render "shared/partenaires", partenaires: @partenaires_year%>
  </div>
  <% end %>
</div>
